body,html,#bottomFooter{
	margin-bottom:0;
	padding-bottom: 0;
}


/************************************************************************************
Variabler
************************************************************************************/
/* test farger
#3F8D8C
#303539
*/

$nav-color:#f7f7f7;
$navtextcolor: #303539;;
/*$btnColor:#50a050;*/
$btnColor:#004f66;
$mountainColor:#004F66;
$secondaryColor:#B0CCC1;
$better-helvetica:"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;


/************************************************************************************
General
************************************************************************************/
.clear {
	clear: both;
}

.hide {
	display:none;
}
.showMe{
	display:block
};

.wrapper {
	
	h1 {
		text-align: center;
	}
}


/************************************
Body
************************************/
body {
	font-family: $better-helvetica;
	font-size:16px;
	font-weight:300;
	background:#fafafa;
}



/************************************************************************************
Navigasjon
************************************************************************************/
/*Font-awesome carret styling*/
#downCaret {
	color:$btnColor;
	font-size:50px;
	padding:0;
}

/*Logo I headeren*/
#logoHeader{
	margin-top:11.5px;
	height:40px;
}
/*Header z-index fix for fixed navigasjon*/
header {
	position:fixed;
	z-index:10;
	width:100%;
}
/*Fiks på alle ellementer som kommer etter header for å possisjonere rikitg når headeren er fixed*/
.headerFixedMargin{
	padding-top:62px;
}
	

/*ingen border bottom på index.html, men på alle andre*/
#indexUl{
	border-bottom:none;	
}
/*Navigasjonsbaren*/
nav {
	width:100%;
	background:$nav-color;

	ul {
	margin:0;
	list-style: none;
	display: flex;
	border-bottom: 1px solid rgb(225,225,225);
		
		li {
			display:flex;
			margin:0;
			
			a {
				padding:20px;
				background: $nav-color;
				color:$navtextcolor;
				&:hover {
				/*background: darken($nav-color ,2%);*/
				background:$btnColor;
				text-decoration: none;
				color:white;
				
				}
			}
		}
	}

	/*For å vise den aktive fanen.*/
	.active {
		background: darken($btnColor,2%);
		color:white;
		}
}



/************************************************************************************************************
INDEX.HTML / Generel css
************************************************************************************************************/
/*Stilering for informasjons boksene*/
.infoboks {
	background:darken(#f7f7f7,4%);
	padding:20px;
	margin-bottom:5px;
	h2 {
		margin:0 0 5px 0;

	}
}

/*Bildefix for bilder i modal.*/
.responsiveBilder {
	display:inline-block;
	max-width:49%;
	height:auto;
}

/*Padding fix for alle tittlene for hyttene.*/
.hytteTitler{
	padding-left:15px;
}


/*Knapper på fremsiden */
.myBtns {
	background: $btnColor;
	border:none;
	border-radius: 0;
	margin:5px 0;
	&:hover {
	background: lighten($btnColor,2%);	
	}

	&:active,&:focus,&:focus:active {
		background: lighten($btnColor,2%);	
		}
	
}

/*knapper som skal stileres i stil 2*/
.myOtherBtns{
	background:rgb(225,225,225);
	color:$navtextcolor;
}

/*en klasse for å få et mer symetrisk design.*/
.spacingFix {
	margin-bottom: 53.5px;
}

/*Fargefelt */
.seperator {
	margin:20px 0;
	height:1px;
	width:100%;
	background:$mountainColor;
	
}


/*Container-fluid padding fix */
.container-fluid {
	padding-left: 0;
	padding-right: 0;
}


/* Introduksjons bildet og tekst*/
#intro {
	border-radius: 0;
	background: url(../images/fjellnorge.jpg) no-repeat center center fixed; 
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
	  height:500px;
	  z-index: -1;
	  margin-bottom: 0;

	/*Teksten */
	  .introText{
	  	margin-top:80px;
	  	background:rgba(255,255,255,0.7);
	 	text-align: center;
	 	padding:6px 0;
	  
	  }
	
	/*Blockquote*/
	  blockquote{
	  	border-left:none;
	  	padding:0;
	  	margin-bottom: 0;
	  }
}

/*Wrapper for main content margin fix */
#mainContent {
	margin-top:0;
}

/*******************************************************************************************
ORDER.HTML
*******************************************************************************************/
/*Container for leieperiode, setter riktig padding / margin*/
#leiePeriodeContainer{
	
	/*Margin/ padding fix*/
	h3,h4,input,label {
		margin:0;
		padding:0px;
	}
	
	h3,h4,label {
		padding:5px 0px;
	}
	
}
/*Paragraf som viser total pris*/
#prisOversikt{
	p {
		font-size: 18px;

	}
}

/*Bestillingskanppen i skjemaet*/
#submit {
   	font-size: 18px;
   	border-radius: 0;
    	background: $btnColor;
    	color:white;
    	font-weight: normal;
	&:hover {
	background: lighten($btnColor,2%);	
	}

	&:active,&:focus,&:focus:active {
		background: lighten($btnColor,2%);	
		}

}


/************************************************************************************************************
HYTTER.HTML
************************************************************************************************************/
/*Stilering for pris*/
.priser {
	border-top:1px solid grey;
	margin-top:30px;
	font-size: 20px;
}

/*Introduksjons teksten sentreres*/
#introText {
	text-align: center;
}

/*Padding fiks for symmetrisk design*/
.hytteTittel {
	padding-left: 25px;
}

/* Padding for fasilitet containerere*/
.inner {
	padding:20px;	
}

/*Google maps iframe in modal*/
.googleMaps {
	width:100%;
	height:400px;
}
/*Stilering for hver hyttecontainer*/
#hytterContainer{

	ul {
  		list-style-type: none;
  		padding:0;
  		margin-bottom: 0;
	}

	.hytteboks {
		background:darken(#f7f7f7,4%);
		margin: 0 10px 15px 10px;
		/*Overflow hidden for å hindre at bilder flyter over container ved zoom.*/
		overflow: hidden;
		 /*Stilering for zoom on hover*/
		 img {
  		height: 300px;
		width: 100%;
		/*Transition effect*/
		transform: scale(1); transition: 0.5s ease-in-out;
		 -moz-transition: all 0.3s;
  		-webkit-transition: all 0.3s;
  		transition: all 0.3s;
		&:hover {
			/*scale øker med 0.5 for å skape zoom effekt*/
			 -moz-transform: scale(1.05);
  			-webkit-transform: scale(1.05);
  			transform: scale(1.05);
			}
		}
		/*Stilering fo bestill knappene*/
		.buttons {
			width:100%;
			font-size: 18px;
			border-radius: 0;
			background:$mountainColor;
		}
	  }
}

/******************************************************
Om Oss.html
******************************************************/

.bilde {
  width: 150px;
  height: 100px;
}

.thumbnail {
margin-bottom: 20px;
}

.navn {
  font-size: 40px;
  font-style: italic;
  font-weight: bold;
  font-family: sans-serif;
  text-align: center;
}

.info {
  text-align: center;
}

.overskrift{
  font-weight: bold;
  font-size: 50px;
  text-align: center;

}





/************************************************************************
Carousel
************************************************************************/
.item {
	 -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
	  height:500px;
	  z-index: -1;
	  margin-bottom: 0;
}

#item1{
background: url(../images/JPEG/img1.jpg) no-repeat center center fixed; 
}

#item2{
background: url(../images/JPEG/img2.jpg) no-repeat center center fixed; 
}

#item3{
	background: url(../images/JPEG/img3.jpg) no-repeat center center fixed; 
}


/************************************************************************
Footer
************************************************************************/
/*Øverste li element*/
#contactHeader {
	margin-bottom: 8px;
}
/*logo i footeren*/
#logoFooter {
	height:100px;
}
/*Generell footer css*/
#bottomFooter{
	padding:20px;
	margin:20px 0 0 0;
	width: 100%;
	background-color: #004F66;

	/*position:absolute;
	bottom:0;*/

	ul {

		margin:0;
		color:#fff;
		list-style: none;
		li {
			
			a {
				color:#fff;

				&:hover {
					color:darken(#fff,20%);
				}
			}
		}
	}

}



/************************************
Media Queries
************************************/


@media screen and (max-width: 480px) {
   .xs-hidden {
   	display:none;
   }
 
}

@media screen and (max-width: 600px) {
	  #logoHeader {
   	display:none;
   }	
   #logoFooter {
   	height:50px;
   	padding-left:35px;
   }
}





