/*
Error: Invalid CSS after "$mountainColor": expected selector or at-rule, was ":#004F66;"
        on line 14 of main.scss

9: 
10: $nav-color: #f7f7f7;
11: $navtextcolor: #303539;;
12: $btnColor:#50a050;
13: $hytteButtonColor:
14: $mountainColor:#004F66;
15: $secondaryColor:#B0CCC1;
16: 
17: 
18: $better-helvetica:"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
19: 

Backtrace:
main.scss:14
/Users/Rubbelogbit/.rvm/gems/ruby-2.3.0/gems/sass-3.4.22/lib/sass/scss/parser.rb:1189:in `expected'
/Users/Rubbelogbit/.rvm/gems/ruby-2.3.0/gems/sass-3.4.22/lib/sass/scss/parser.rb:1125:in `expected'
/Users/Rubbelogbit/.rvm/gems/ruby-2.3.0/gems/sass-3.4.22/lib/sass/scss/parser.rb:42:in `parse'
/Users/Rubbelogbit/.rvm/gems/ruby-2.3.0/gems/sass-3.4.22/lib/sass/engine.rb:406:in `_to_tree'
/Users/Rubbelogbit/.rvm/gems/ruby-2.3.0/gems/sass-3.4.22/lib/sass/engine.rb:381:in `_render_with_sourcemap'
/Users/Rubbelogbit/.rvm/gems/ruby-2.3.0/gems/sass-3.4.22/lib/sass/engine.rb:298:in `render_with_sourcemap'
/Users/Rubbelogbit/.rvm/gems/ruby-2.3.0/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
/Users/Rubbelogbit/.rvm/gems/ruby-2.3.0/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/Rubbelogbit/.rvm/gems/ruby-2.3.0/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:209:in `each'
/Users/Rubbelogbit/.rvm/gems/ruby-2.3.0/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/Rubbelogbit/.rvm/gems/ruby-2.3.0/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:473:in `on_file_changed'
/Users/Rubbelogbit/.rvm/gems/ruby-2.3.0/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:331:in `block in watch'
/Users/Rubbelogbit/.rvm/gems/ruby-2.3.0/gems/sass-3.4.22/vendor/listen/lib/listen/listener.rb:252:in `on_change'
/Users/Rubbelogbit/.rvm/gems/ruby-2.3.0/gems/sass-3.4.22/vendor/listen/lib/listen/listener.rb:290:in `block in initialize_adapter'
/Users/Rubbelogbit/.rvm/gems/ruby-2.3.0/gems/sass-3.4.22/vendor/listen/lib/listen/adapter.rb:254:in `report_changes'
/Users/Rubbelogbit/.rvm/gems/ruby-2.3.0/gems/sass-3.4.22/vendor/listen/lib/listen/adapter.rb:323:in `poll_changed_directories'
/Users/Rubbelogbit/.rvm/gems/ruby-2.3.0/gems/sass-3.4.22/vendor/listen/lib/listen/adapter.rb:299:in `block in start_poller'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"$mountainColor\": expected selector or at-rule, was \":#004F66;\"\A         on line 14 of main.scss\A \A 9: \A 10: $nav-color: #f7f7f7;\A 11: $navtextcolor: #303539;;\A 12: $btnColor:#50a050;\A 13: $hytteButtonColor:\A 14: $mountainColor:#004F66;\A 15: $secondaryColor:#B0CCC1;\A 16: \A 17: \A 18: $better-helvetica:\"HelveticaNeue-Light\", \"Helvetica Neue Light\", \"Helvetica Neue\", Helvetica, Arial, \"Lucida Grande\", sans-serif;\A 19: "; }
