@charset "UTF-8";
/************************************************************************************
Variabler
************************************************************************************/
/* test farger
#3F8D8C
#303539
*/
/*$btnColor:#50a050;*/
/************************************************************************************
General
************************************************************************************/
.clear {
  clear: both; }

.hide {
  display: none; }

.showMe {
  display: block; }

.wrapper h1 {
  text-align: center; }

/************************************
Body
************************************/
body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 16px;
  font-weight: 300;
  background: #fafafa; }

/************************************************************************************
Navigasjon
************************************************************************************/
/*Font-awesome carret styling*/
#downCaret {
  color: #004f66;
  font-size: 50px;
  padding: 0; }

/*Logo I headeren*/
#logoHeader {
  margin-top: 11.5px;
  height: 40px; }

/*Header z-index fix for fixed navigasjon*/
header {
  z-index: 5; }

/*ingen border bottom på index.html, men på alle andre*/
#indexUl {
  border-bottom: none; }

/*Navigasjonsbaren*/
nav {
  width: 100%;
  background: #f7f7f7;
  /*For å vise den aktive fanen.*/ }
  nav ul {
    margin: 0;
    list-style: none;
    display: flex;
    border-bottom: 1px solid #e1e1e1; }
    nav ul li {
      display: flex;
      margin: 0; }
      nav ul li a {
        padding: 20px;
        background: #f7f7f7;
        color: #303539; }
        nav ul li a:hover {
          /*background: darken($nav-color ,5%);*/
          background: #004f66;
          text-decoration: none;
          color: white; }
  nav .active {
    background: #00475c;
    color: white; }

/************************************************************************************************************
INDEX.HTML / Generel css
************************************************************************************************************/
/*Stilering for informasjons boksene*/
.infoboks {
  background: #ededed;
  padding: 20px;
  margin-bottom: 5px; }
  .infoboks h2 {
    margin: 0 0 5px 0; }

/*Bildefix for bilder i modal.*/
.responsiveBilder {
  display: inline-block;
  max-width: 49%;
  height: auto; }

/*Padding fix for alle tittlene for hyttene.*/
.hytteTitler {
  padding-left: 15px; }

/*Knapper på fremsiden */
.myBtns {
  background: #004f66;
  border: none;
  border-radius: 0;
  margin: 5px 0; }
  .myBtns:hover {
    background: #006380; }
  .myBtns:active {
    background: #006380; }

/*knapper som skal stileres i stil 2*/
.myOtherBtns {
  background: #e1e1e1;
  color: #303539; }

/*en klasse for å få et mer symetrisk design.*/
.spacingFix {
  margin-bottom: 53.5px; }

/*Fargefelt */
.seperator {
  margin: 20px 0;
  height: 1px;
  width: 100%;
  background: #004F66; }

/*Container-fluid padding fix */
.container-fluid {
  padding-left: 0;
  padding-right: 0; }

/* Introduksjons bildet og tekst*/
#intro {
  border-radius: 0;
  background: url(../images/fjellnorge.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 500px;
  z-index: -1;
  margin-bottom: 0;
  /*Teksten */
  /*Blockquote*/ }
  #intro .introText {
    margin-top: 80px;
    background: rgba(255, 255, 255, 0.7);
    text-align: center;
    padding: 6px 0; }
  #intro blockquote {
    border-left: none;
    padding: 0;
    margin-bottom: 0; }

/*Wrapper for main content margin fix */
#mainContent {
  margin-top: 0; }

/*******************************************************************************************
ORDER.HTML
*******************************************************************************************/
/*Container for leieperiode, setter riktig padding / margin*/
#leiePeriodeContainer {
  /*Margin/ padding fix*/ }
  #leiePeriodeContainer h3, #leiePeriodeContainer h4, #leiePeriodeContainer input, #leiePeriodeContainer label {
    margin: 0;
    padding: 0px; }
  #leiePeriodeContainer h3, #leiePeriodeContainer h4, #leiePeriodeContainer label {
    padding: 5px 0px; }

/*Paragraf som viser total pris*/
#prisOversikt p {
  font-size: 18px; }

/*Bestillingskanppen i skjemaet*/
#submit {
  font-size: 18px;
  border-radius: 0;
  background: #004f66;
  color: white;
  font-weight: normal; }
  #submit:hover {
    background: #006380; }
  #submit:active {
    background: #006380; }

/************************************************************************************************************
HYTTER.HTML
************************************************************************************************************/
/*Stilering for pris*/
.priser {
  border-top: 1px solid grey;
  margin-top: 30px;
  font-size: 20px; }

/*Introduksjons teksten sentreres*/
#introText {
  text-align: center; }

/*Padding fiks for symmetrisk design*/
.hytteTittel {
  padding-left: 25px; }

/* Padding for fasilitet containerere*/
.inner {
  padding: 20px; }

/*Stilering for hver hyttecontainer*/
#hytterContainer ul {
  list-style-type: none;
  padding: 0;
  margin-bottom: 0; }
#hytterContainer .hytteboks {
  background: #ededed;
  margin: 0 10px 15px 10px;
  /*Overflow hidden for å hindre at bilder flyter over container ved zoom.*/
  overflow: hidden;
  /*Stilering for zoom on hover*/
  /*Stilering fo bestill knappene*/ }
  #hytterContainer .hytteboks img {
    height: 300px;
    width: 100%;
    /*Transition effect*/
    transform: scale(1);
    transition: 0.5s ease-in-out;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s; }
    #hytterContainer .hytteboks img:hover {
      /*scale øker med 0.5 for å skape zoom effekt*/
      -moz-transform: scale(1.05);
      -webkit-transform: scale(1.05);
      transform: scale(1.05); }
  #hytterContainer .hytteboks .buttons {
    width: 100%;
    font-size: 18px;
    border-radius: 0;
    background: #004F66; }

/******************************************************
Om Oss.html
******************************************************/
.bilde {
  width: 150px;
  height: 100px; }

.thumbnail {
  margin-bottom: 20px; }

.navn {
  font-size: 40px;
  font-style: italic;
  font-weight: bold;
  font-family: sans-serif;
  text-align: center; }

.info {
  text-align: center; }

.overskrift {
  font-weight: bold;
  font-size: 50px;
  text-align: center; }

/************************************************************************
Carousel
************************************************************************/
.item {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 500px;
  z-index: -1;
  margin-bottom: 0; }

#item1 {
  background: url(../images/JPEG/img1.jpg) no-repeat center center fixed; }

#item2 {
  background: url(../images/JPEG/img2.jpg) no-repeat center center fixed; }

#item3 {
  background: url(../images/JPEG/img3.jpg) no-repeat center center fixed; }

/************************************************************************
Footer
************************************************************************/
/*Øverste li element*/
#contactHeader {
  margin-bottom: 8px; }

/*logo i footeren*/
#logoFooter {
  height: 100px; }

/*Generell footer css*/
#bottomFooter {
  padding: 20px;
  margin: 20px 0 0 0;
  width: 100%;
  background-color: #004F66;
  /*position:absolute;
  bottom:0;*/ }
  #bottomFooter ul {
    margin: 0;
    color: #fff;
    list-style: none; }
    #bottomFooter ul li a {
      color: #fff; }
      #bottomFooter ul li a:hover {
        color: #cccccc; }

/************************************
Media Queries
************************************/
@media screen and (max-width: 480px) {
  .xs-hidden {
    display: none; } }
@media screen and (max-width: 600px) {
  #logoHeader {
    display: none; }

  #logoFooter {
    height: 50px;
    padding-left: 35px; } }

/*# sourceMappingURL=main.css.map */
